<!Doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Addone</title>
  </head>
  <body>
    <form method="post">
      <input name="num" type="number" autofocus required value="{{num}}" />
      <input type="submit" value="Plus 1" />
    </form>
  </body>
</html>
